/* @font-face {
  font-family: 'Hacked Cyr'; задайте название шрифта
  src: url('C:\Users\мхч\Downloads\Hacked\Hacked Cyr.ttf') format('ttf');

  } */
* {
  font-family: Georgia, serif;
  font-weight: 300;
  line-height: 45px;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(19, 91, 6);
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: clamp(2rem, 8vw, 4rem);
  padding-top: 45vh;
  /* padding-right: 5vw; */
}

header,
.result_block {
  width: 100vw;
  height: 100vh;
  /* background: url('Group 1.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(19, 91, 6);
}

main {
  overflow: hidden;
  background-color: #fff;
}

.btn.start {
  opacity: 0;
}

.settings h3 {
  font-size: clamp(1.5rem, 6vw, 3rem);
  padding: 15vh 0 12vh 0;

}

.select_settings {
  font-size: clamp(1rem, 3vw, 2rem);
  border: none;
  background: none;
  color: rgb(19, 91, 6);
  border-bottom: rgb(19, 91, 6) 2px solid;
  padding: 1em;
}

.select_settings option {
  background-color: white;

}

.select_settings option.selected:active,
.select_settings option.selected:focus {
  border: none;
}

.settings {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* background: url('Group 1.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(19, 91, 6);
}

.btn,
.btn.active {
  text-align: center;
  border-radius: 8px;
  padding: 0.4em 2.5em;
  background-color: white;
  border: rgb(19, 91, 6) 2px solid;
  color: rgb(19, 91, 6);
  font-size: clamp(1rem, 3vw, 2rem);
  transition-property: border-radius, background-color, color, opacity;
  transition-duration: .3s;
  margin-top: 6vh;
  opacity: 1;
  font-family: 'Press Start 2P';

}

.btn:disabled {
  border-color: #4d4b4c;
  color: #2b2b2b;
}

.btn:hover {
  transition-property: border-radius, background, color;
  border-radius: 12px;
  background-color: rgb(19, 91, 6);
  color: white;
  transition-duration: .3s;
}

.btn:disabled:hover {
  transition-property: border-radius, background, color;
  border-radius: 12px;
  background-color: #4d4b4c;
  color: white;
  transition-duration: .3s;
}

.center {
  display: flex;
  justify-content: center;
}

.arrow {
  /* transform: rotate;
      rotate: 90deg;*/
  width: 8vw;
  padding: 25vh 44vw;

}

.slider {
  margin-top: 10vh;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 3vw;
  font-size: 1.4vw;
  text-align: left;
  border: 2px white solid;
  width: 87vw;
  height: 10vh;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider .prev {
  position: absolute;
  left: -10.5vw;
  opacity: 0;
}

.slider .next {
  position: absolute;
  right: 110vw;
  opacity: 0;
}

.slider p {
  position: absolute;
  left: 10vw;
  top: inherit;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider p.active {
  opacity: 1;
}

/*.btn.start.active {
    opacity: 1;
      transition: opacity 0.5s ease;
  }*/

.next.active {
  opacity: 1;
  right: 3.5vw;
}

.prev.active {
  opacity: 1;
  left: 3.5vw;
}

.arrow-1 {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
  rotate: 180deg;
  /*left: -35px;
      top: 35px;*/
}

.arrow-1 div {
  position: relative;
  top: 20px;
  /*width: 90px;
      height: 10px;*/
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  left: 10px;
  display: block;
}

.arrow-1 div::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: -8px;
  background-color: white;
  transform: rotate(45deg);
}

.arrow-1 div::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: -8px;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.prev:hover {
  animation: arrow-1 1s linear infinite;
}

@keyframes arrow-1 {
  0% {
    left: 3.5vw;
  }

  50% {
    left: 3vw;
  }

  100% {
    left: 3.5vw;
  }
}

.arrow-2 {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
  /*left: 1700px;
      top: -35px;*/
}

.arrow-2 div {
  position: relative;
  top: 20px;
  /*width: 90px;
      height: 10px;*/
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  right: 10px;
  display: block;
}

.arrow-2 div::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: -8px;
  background-color: white;
  transform: rotate(45deg);
}

.arrow-2 div::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: -8px;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.next:hover {
  animation: arrow-2 1s linear infinite;
}

@keyframes arrow-2 {
  0% {
    right: 3.5vw;
  }

  50% {
    right: 3vw;
  }

  100% {
    right: 3.5vw;
  }
}

.block {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;


}

.open_question_block {
  
}

.block::after {
  content: "";
  background: url('new_back4.jpg');
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* .question_block::after, .q_result_block::after {
    z-index: -1;
    content: '';
    position: absolute; /* Абсолютное позиционирование */
/* left: 20px; bottom: -20px; /* Положение треугольника */
/* border: 145vw solid transparent;
    border-right: 100vh solid #7d0206;
    border-bottom: 100vw solid #7d0206;
    opacity: 0.3;
  }  */


.question_number,
.open_question_number,
.q_result,
.attempt_count,
.task_header {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 3vw;
  padding-top: 10vh;
  color: rgb(19, 91, 6);
}

.attempt_count {
  padding-top: 0;
}

.question,
.description,
.right_ans,
.open_question,
.task_descr {
  font-size: 4vw;
  text-align: center;
  padding: 8vh 5vw 0 5vw;

  color: rgb(19, 91, 6);
  line-height: 7vh;
}

pre {
  line-height: 7vh;
}

.input_open_answer_field,
.input_code_field {
  padding: 2vw;
  font-size: 3vw;
}

.answers12,
.answers34 {
  display: flex;
  flex-direction: row;
  margin: 3vw;
  justify-content: space-evenly;
  text-align: center;

}

.input_open_answer_field,
.input_code_field {
  width: 30vw;
  height: 10vh;
  border: 2px solid rgb(19, 91, 6);
  color: rgb(19, 91, 6);
  margin: 0 auto;
}

.input_open_answer,
.input_code {
  display: flex;
  flex-direction: column;
  margin: 3vw;
  justify-content: space-evenly;
  text-align: center;

}

.answer {
  border: rgb(19, 91, 6) 2px solid;
  color: rgb(19, 91, 6);
  background-color: #fff;
  padding: 2vw;
  font-size: 100%;
  width: 30vw;
  line-height: 2em;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-radius, background-color, color;
  transition-duration: 0.5s;
  border-radius: 1vw;
  box-shadow: 1vw 1.5vh 1.5vw rgb(19 91 6 / 70%);
  margin-bottom: 5vh;
}

.answer:hover {
  background-color: rgb(19, 91, 6);
  color: white;
  border-radius: 2vw;
  transition-property: border-radius, background-color, color;
  transition-duration: 0.5s;
}



.answer.first,
.answer.third {
  margin-right: 2vw;
}

.answer.second,
.answer.fourth {
  margin-left: 2vw;
}

.q_result_block {
  display: none;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result_block {
  display: none;

}

.right_ans,
.q_result {
  font-size: 5vw;
}

@media screen and (orientation: portrait) {
  body {
    background: url('new_back3.webp');
    background-position: center top;
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
  }
}

/* Для альбомного режима пускай панель отображается слева */

@media screen and (orientation: landscape) {
  body {
    background: url('new_back3.webp');

    /* transform: rotate(180deg); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
}